body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.form-container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    background-image: url('/assets/images/LOGO.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.9;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm label {
    margin-bottom: 10px;
    font-weight: bold;
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.7);
}

#loginForm input[type="submit"] {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loginForm input[type="submit"]:hover {
    background-color: #0056b3;
}
